#blog{
	#blog_contents{
		margin: 70px 0 0 0;

		article{
			margin: 0 0 70px 0;
		}

		h1{
			color: $red;
			@include font-weiss();
			font-size: getFontSize(30);
			margin: 0 0 20px 0;
		}

		h2, p{
			color: #3b4145;
			@include font-omnes-light();
		}

		h2{
			font-size: getFontSize(25);
			margin: 0 0 30px 0;
		}

		p.col_10{
			margin: 0 auto;
			text-align: justify;
			font-size: getFontSize(15);
		}

		p.img_wrapper img{
			width: 100%;
			height: auto;
			margin: 50px 0 30px;
		}
	}

	.posts_nav{
		margin: 0 auto 45px auto;

		&:after {
    		content: '';
    		display: block;
    		clear: both;
		}
	}

	.next_page, .prev_page{
		display: inline-block;
		cursor: pointer;
		// width: 115px;
		padding: 0 20px;
		border: 0;
		height: 38px;
		line-height: 38px;
		@include font-omnes-light();
		font-size: getFontSize(15);
		color: #fff;

		&.prev_page{
			padding: 0 20px 0 50px;
			text-align: right;
			background: url("../img/icon-arrow-submit-reverse.png") no-repeat $bordeau 20px 13px;
		}

		&.next_page{
			padding: 0 50px 0 20px;
			float: right;
			text-align: left;
			background: url("../img/icon-arrow-submit.png") no-repeat $bordeau 80% 13px;
		}
	}
}