#contact{
	padding: 40px 0 75px 0;
	background: linear-gradient(90deg, #fff 62%, #f5f6f9 62%);

	.subtitle{
		margin: 25px 0;
	}

	.contact_form_title{
		margin: 25px 0 0 0;
		color: #3b4145;
		@include font-omnes-light();
		font-size: getFontSize(20);
	}

	.col_12+.col_12{
		margin: 25px 0 0 0;
	}

	.address{
		color: #3b4145;

		@include font-omnes-light();
		font-size: getFontSize(15);

		span, a{
			color: $bordeau;
		}
	}

	.ccf-form-wrapper{
		margin: 30px 0 0 0;

		.field, .form-submit {
			margin: 15px 0 0;
		}

		label{
			display: none;
		}

		input, textarea{
			width: 60%;
			padding: 15px 20px;
			height: 15px;
			color: #3b4145;
			@include font-omnes-light();
			font-size: getFontSize(15);
			border: 0;
			border-left: 2px solid $bordeau;
			resize: none;
			background: $lightgrey;

			&::-webkit-input-placeholder{
   				color: #3b4145;
			}
			&::-moz-placeholder{
   				color: #3b4145;
			}
			&::-moz-placeholder{
   				color: #3b4145;
			}
			&::-ms-input-placeholder{
   				color: #3b4145;
			}

			&:focus{
				outline: none;
			}

		}

		textarea{
			height: 150px;
			width: 100%;
			
		}

		.ccf-submit-button{
			cursor: pointer;
			// 115 //20
			width: 115px;
			padding: 0 20px;
			// background: $bordeau;
			border: 0;
			height: 38px;
			font-size: getFontSize(15);
			color: #fff;
			text-align: left;
			
			background: url("../img/icon-arrow-submit.png") no-repeat $bordeau 71% 13px;


			// &:after{
			// 	@include sprite-position($icon-arrow-submit);
			// 	@include sprite-image($icon-arrow-submit);
			// 	@include sprite-background-size($icon-arrow-submit);	
			// 	content: "";
			// }

			&:focus{
				outline: none;
			}
		}
	}

}