footer{
	height: 70px;
	width: 100%;
	background: $bordeau;

	.col_4{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;

		span, a{
			color: #FFF;
			font-size: getFontSize(15);
			@include font-omnes-light();
		}

		a{
			text-decoration: underline;
		}
	}

	.col_8{
		display: flex;
		justify-content: flex-end;
		align-items: center;

		li, a{
			display: inline-block;
		}

		.icon+.icon{
			margin: 0 0 0 14px;
		}
	}
}