/.sass-cache
/node_modules
/www/wp-content/themes/richelieu/fonts
/www/wp-content/themes/richelieu/video
/www/wp-content/themes/richelieu/img



*.log
/www/wp-config.php
/www/wp-content/advanced-cache.php
/www/wp-content/backup-db/
/www/wp-content/backups/
/www/wp-content/blogs.dir/
/www/wp-content/cache/
/www/wp-content/upgrade/
/www/wp-content/uploads/
/www/wp-content/wp-cache-config.php
/www/wp-content/plugins

/www/.htaccess
/www/license.txt
/www/readme.html
/www/sitemap.xml
/www/sitemap.xml.gz

/www/wp-admin
/www/wp-includes

/www/wp-content/languages
/www/wp-content/themes/twentyfifteen
/www/wp-content/themes/twentyfourteen
/www/wp-content/themes/twentysixteen